<h3>Navigation Bar</h3>
<ul>
    <li><a href="/products/list">Active Production</a></li>
    <li><a href="/products/add">Add Production</a></li>
    <li><a href="/products/operator">List of Operator</a></li>
    <li><a href="/products/register">Register Operator</a></li>
    <li><a href="/products/addmaterial">Add Raw Material</a></li>
    <li><a href="/products/material">List of Raw Material</a></li>
    <li><a href="/products/logout">Logout</a></li>
</ul>