<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Registration</h1>
    <form action="/register" method="post">
        <label>Role:</label>
        <br>
        <label>Admin</label>
        <input type="radio" name="role" value="Admin">
        <br>
        <label>Operator</label>
        <input type="radio" name="role" value="Operator">
        <br>
        <label>name</label>
        <br>
        <input type="text" name="name">
        <br>
        <label>User Name</label>
        <br>
        <input type="text" name="username">
        <br>
        <label>Email</label>
        <br>
        <input type="text" name="email">
        <br>
        <label>Password</label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit">Save</button>
        <button><a href="/">Cancel</a></button>
    </form>
</body>
</html>